<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click'); isOpen=!isOpen">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form form [formGroup]="formUpdate" (ngSubmit)="updateSession()">
            <div class="form-group">
                <label for="dateOfBirth">Edit Session</label>
                <div class="input-group">
                    <input id="changeDescription" class="form-control" placeholder="description" formControlName="description">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click'); isOpen=!isOpen">Save</button>
    </div>
</ng-template>

<table class="table table-striped" *ngIf="!loading">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Owner</th>
            <th scope="col">Description</th>
            <th scope="col">Date</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let session of sessions; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{session.username}}</td>
            <td>{{session.description}}</td>
            <td>{{session.date | date}}</td>
            <td>
                <button type="button" class="btn btn-primary" style="margin-right: 10px" (click)="open(content , session.id)">Edit</button>
                <button type="button" (click)="deleteSession(i, session.id)" class="btn btn-danger">Delete</button>
            </td>
        </tr>
        <tr>

            <th scope="row">New</th>
            <td></td>
            <td>
                <form [formGroup]="form" (ngSubmit)="createSession()">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" formControlName="description" placeholder="Description" aria-label="Description">
                    </div>
                </form>
            </td>
            <td></td>
            <td>
                <button type="button" class="btn btn-success" (click)="createSession()">Create</button>
            </td>

        </tr>
    </tbody>
</table>

<button type="button" (click)="logout()" class="btn btn-danger" style="margin: 10px 20px 20px 20px">Logout</button>